input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cfcece !important;
    opacity: 1; /* Firefox */
  }
  
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cfcece !important; /*cfcece*/
  }
  
  input::-ms-input-placeholder { /* Microsoft Edge */
    color: #cfcece !important;
  }

  .navbar-custom{
    background-color: white;
  }

  span.logo-lg img {
    height: 40px;
  }

  .left-side-menu {
    padding-top: 50px;
    background: rgba(27, 28, 30, 1);
  }

  .logo-box {
    background: rgba(27, 28, 30, 1);
  }
  
  .metismenu li {
    list-style: none;
    padding: 10px 15px;
  }

  #sidebar-menu>ul>li>a {
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }

  #sidebar-menu>ul>li>a.active {
    background: linear-gradient(45deg, rgba(0, 180, 239, 1), rgba(37, 88, 220, 1));
    color: rgba(255, 255, 255, 0.8);
  }

  #sidebar-menu>ul>li>a:active, #sidebar-menu>ul>li>a:focus, #sidebar-menu>ul>li>a:hover {
    background: linear-gradient(45deg, rgba(0, 180, 239, 1), rgba(37, 88, 220, 1));
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
  }

  .logout-btn {
    color: white;
    padding: 13px 20px;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
  }

  .logout-btn:hover{
    background: linear-gradient(45deg, rgba(0, 180, 239, 1), rgba(37, 88, 220, 1));
    color: rgba(255, 255, 255, 0.8);
    transition: 0.5s;
  }

  /* .left-side-menu{
    background-color: black;
    width: 256px;
  }

  .metismenu li {
    list-style: none;
    margin: 7px 20px;
  }

  #sidebar-menu>ul>li>a {
    transition: all .3s;
    color: #fffc;
  }

  #sidebar-menu>ul>li>a.active {
    color: #fffc;
    background: linear-gradient(271.36deg, #2558DC 1.08%, #00B4EF 98.84%);
  }

  #sidebar-menu>ul>li>a.active {
    color: #fffc;
    border-radius: 10px;
    background: linear-gradient(271.36deg, #2558DC 1.08%, #00B4EF 98.84%);
  }

  .left-side-menu .dropdown-item.notify-item {
    padding: 13px 20px;
    color: #fffc;
    transition: all .3s;
  }
  
  .left-side-menu .dropdown-item.notify-item:hover {
    background: black;
    color: #317eeb;
  }

  .user-box .user-info a.dropdown-toggle{
    color: white;
  }